body {
    height: 100vh; /* Alterado de 800px para vh */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #e8f388, #91e989, #90f1f8);
    
    color: rgb(0, 0, 0);
    font-family: adso;    
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

#conteiner {
    position: relative;
    width: 300px;
    min-height: 400px; /* Alterado para min-height */
    padding: 20px;
    border: 10px solid #5512d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: linear-gradient(to bottom right, #9a9cfa, #7986f7, #653ff1);
    border-radius: 10px;
}

.box {
    width: 100%;
    min-height: 80px;
    border: 2px solid blue;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: relative;
    top: 0;
    left: 0;*/
}

    

.resposta-box, .dica-box {
    width: 100%;
    min-height: 30px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

#box1 {
    background-color: rgb(241, 147, 147);
    z-index: 1;

}

#box2 {
    background-color: rgb(200, 255, 0);
    z-index: 2;
    
}


#box3 {
    background-color: rgb(149, 255, 172);
    z-index: 2;
    
}




  

